/* ==============================Phần dùng chung================================== */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    border-radius: 999px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    background: #171100;
    color: #fff;
}
/*--------------------------------------Phần dùng riêng---------------------------------------------*/
/* ============================================= Header ===================================================== */
.header .body {
    display: flex;
    background-color: orange;
    align-items: center;
}

.header .body .navigation {
    margin-left: auto;
}

.header .body .navigation .menu {
    display: flex;
}

.header .body .navigation .menu li {
}
