/* ==============================Phần dùng chung================================== */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    border-radius: 999px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    background: #171100;
    color: #fff;
}

/*--------------------------------------Phần dùng riêng---------------------------------------------*/
/* ============================================= Header ===================================================== */
.header .body {
    display: flex;
    background-color: #fffcf4;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body .navigation {
    margin-left: auto;
}

.header .body .navigation .menu {
    display: flex;
}

.header .body .navigation .menu li {
    padding: 0 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.header .body .navigation li.active {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #171100;
}

.header .body .navigation li.active::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
    left: 21px;
    bottom: 1px;
    display: block;
}

.header .body .btn {
    width: 144px;
}

/* =========================== Hero ============================== */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .media-block .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .media-block .hero-summary .item + .item {
    margin-top: 22px;
}

.hero .media-block .hero-summary .item .logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}

/* tac dong vao logo thu 2 */
.hero .media-block .hero-summary .item:nth-of-type(2) .logo {
    background-color: #fcefff;
}

/* tac dong vao logo thu 3 */
.hero .media-block .hero-summary .item:nth-of-type(3) .logo {
    background-color: #ebeaff;
}

.hero .media-block .hero-summary .item .info {
    margin-left: 16px;
}

.hero .media-block .hero-summary .item .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.hero .media-block .hero-summary .item .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .heading {
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero .content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.btn:hover {
    opacity: 0.8;
}

.hero .content-block .cta-group .hero-cta {
    width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background: var(--primary-color);
}

.hero .content-block .cta-group .watch-video {
    border: none;
    background-color: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.hero .content-block .cta-group .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .content-block .cta-group .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .content-block .desc.stats {
    margin-top: 8px;
}

.hero .content-block .desc.stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
}

.hero .content-block .desc.stats strong:nth-of-type(2) {
    padding-left: 28px;
}
